/* src/components/Header.css */
.custom-navbar {
  height: 150px; /* Adjust the height as needed */
  background-color: rgb(203, 239, 245) !important;
}

.custom-logo {
  height: 150px; /* Adjust the logo height as needed */
  width: 150px;

  margin-bottom: 10px;
}

.header .text-right {
  text-align: right;
}
